<h2>Index Page</h2>

{{#if todos.length}}
    <ul>
    {{#each todos}}
        <form action="/complete" method="post">
            <li class="todo">
                <label>
                    {{#if completed}}
                        <input type="checkbox" checked >
                        <span class="completed">{{title}}</span>

                    {{else}}
                        <input type="checkbox">
                        <span>{{title}}</span>

                    {{/if}}

                    <input type="hidden" value="{{_id}}" name="id">
                    <button class="btn btn-small" type="submit">Save</button>


                </label>
            </li>
        </form>
    {{/each}}
    </ul>
{{else}}
    <br/>
    <h3>У вас пока нет Todos...</h3>
{{/if}}